# 操作系统生成的文件
.DS_Store
Thumbs.db

# 数据库数据
postgres_data/

# 前端忽略
frontend/node_modules/
fronend/.vscode/
frontend/dist/
frontend/.env.local

# 后端忽略
backend/venv/
backend/.idea/
backend/__pycache__/
backend/.env
backend/data/